@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.button {
    appearance: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #484848;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

.button:hover {
    box-shadow: rgba(27, 31, 35, .1) 0 5px 15px;
}

.Save {
    background-color: #a8d5ba; 
}

.Cancel {
    background-color: #ffb3b3; 
}

.Save:hover {
    background-color: #8fcaa0; 
}

.Cancel:hover {
    background-color: #ffa3a3; 
}
